* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: #dac292;
}

.lion {
  height: 95%;
  width: 100%;
  margin: auto;
  stroke: green;
  stroke-width: 8px;
  fill: transparent;
  stroke-dashoffset: -3350;
  stroke-dasharray: 3350;
  animation: lion-animation 7s infinite;
}

@keyframes lion-animation {
  0% {
    stroke-dashoffset: -3350;
  }
  35% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -3350;
  }
}